<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>edad {{ persona.edad }}</p>
<button (click)="aumentarEdad()">Aumentar Edad</button>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae natus
  eligendi deserunt assumenda, sapiente ipsum adipisci aliquam velit cumque
  impedit incidunt minus, quia nesciunt excepturi! Unde optio quasi repudiandae
  ipsam!
</div>
<p>Nombre {{persona.nombre}}</p>
<input type="text" [value]="persona.nombre" (keyup)="cambiNombre($event)" />
<hr />
<h1>Property Binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="persona.nombre" />
<progress max="100" [value]="persona.edad"></progress>
<img [src]="persona.avatar" alt="imagen" [width]="persona.avatarTamano" />
<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola mundo".repeat(10) }}</h2>
<p>3+3={{ 3 + 3 }}</p>

<h3>Hola, soy {{ nombre }} y tengo {{ edad }}</h3>
<img src="{{ imagen }}" alt="imagen" [width]="persona.avatarTamano" />
